@{
    ViewData["Title"] = "Modificar Pedido";
}
@using Cadeteria.Models.ViewModels.Pedidos

@model PedidosModificarViewModel

<div class="text-center">
    <h1 class="display-4">Modificar datos del Pedido @Model.NumeroPedido</h1>
    <form asp-controller="Pedido" asp-action="cambiarDatosPedido" method="post" class="row g-3">
        <input type="hidden" class="form-control" asp-for="NumeroPedido" value="@Model.NumeroPedido" >
        <div class="col-12">
            <label asp-for="Observaciones" class="form-label"></label>
            <input asp-for="Observaciones" class="form-control" value="@Model.Observaciones">
        </div>
        <div class="col-md-6">
            <label asp-for="NombreCliente" class="form-label"></label>
            <input asp-for="NombreCliente" class="form-control" value="@Model.NombreCliente">
        </div>
        <div class="col-md-6">
            <label for="direc" class="form-label">Direccion cliente</label>
            <input type="text" class="form-control" id="direc" name="direcC" value="@Model.DireccionCliente" required>
        </div>
        <div class="col-md-6">
            <label for="tel" class="form-label">Telefono cliente</label>
            <input type="text" class="form-control" id="tel" name="telC" placeholder="3815123123" value="@Model.TelefonoCliente" required>
        </div>
        <div class="col-md-4">
            <label for="estado" class="form-label">Estado pedido</label>
            <select id="estado" name="estado" class="form-select">
                @if (Model.Estado == "Pendiente")
                {
                    <option selected>Pendiente</option>
                    <option>Entregado</option>
                }
                else
                {
                    <option>Pendiente</option>
                    <option selected>Entregado</option>
                }
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success">Modificar</button>
        </div>
    </form>
</div>
