@{
    ViewData["Title"] = "Listado Pedidos";
}
@using Cadeteria.Models.ViewModels.Pedidos

@model PedidosMostrarViewModel

<h1 class="display-4">Listado de Pedidos</h1>
<div class="col-12">
    <a asp-controller="Pedido" asp-action="Index" class="btn btn-success">Crear nuevo Pedido</a>
</div>

<table class="table">
    <thead>
        <tr class="table-success">
            <th scope="col">N Pedido</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Estado</th>
            <th scope="col">ID Cliente</th>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Direccion Cliente</th>
            <th scope="col">Telefono Cliente</th>
            <th scope="col">Cadete a cargo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaPedidos)
        {
            <tr>
                <th scope="row" class="table-success">@item.NumeroPedido</th>
                <td>@item.Observaciones</td>
                <td>@item.Estado</td>
                <td>@item.Cliente.Id</td>
                <td>@item.Cliente.Nombre</td>
                <td>@item.Cliente.Direccion</td>
                <td>@item.Cliente.Telefono</td>
                <td>
                    <form class="table" asp-action="AsignarCadete" asp-controller="Pedido" method="post">
                        <input type="hidden" id="idPedido" name="idPedido" value="@item.NumeroPedido">
                        <select class="form-select" name="idCadete">
                            <option selected value="0">Sin Cadete</option>
                            @foreach (var cadete in Model.listaCadetes)
                            {
                                if (cadete.ListadoPedidos.Exists(a => a.NumeroPedido == item.NumeroPedido))
                                {
                                    <option selected value="@cadete.Id">@cadete.Nombre (@cadete.ListadoPedidos.Count())</option>
                                }
                                else
                                {
                                    <option value="@cadete.Id">@cadete.Nombre (@cadete.ListadoPedidos.Count())</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-sm btn-success">Asignar</button>
                    </form>
                </td>
                <td>
                    <a class="nav-link" asp-route-NumeroPedido="@item.NumeroPedido" asp-controller="Pedido" asp-action="modificarPedido">Modificar</a>
                    <a class="nav-link" asp-route-NumeroPedido="@item.NumeroPedido" asp-controller="Pedido" asp-action="eliminarPedido" onclick="return confirm('¿Seguro que desea eliminar este pedido?')">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}