@{
    ViewData["Title"] = "Listado Pedidos";
}

@model Cadete

<h1 class="display-4">Listado de Pedidos de @Model.Nombre</h1>
@if (Model.ListadoPedidos.Count > 0)
{
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">N° Pedido</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Cliente</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListadoPedidos)
            {
            <tr>
                <th scope="row" class="table-primary">@item.NumeroPedido</th>
                <td>@item.Observaciones</td>
                <td>@item.Cliente.Nombre</td>
                <td>@item.Cliente.Direccion</td>
                <td>@item.Cliente.Telefono</td>
                @if (item.Estado == "Entregado")
                {
                    <td style="background-color:greenyellow">@item.Estado</td>
                }
                else if (item.Estado == "Pagado")
                {
                    <td style="background-color:lightblue">@item.Estado</td>
                }
                else
                {
                    <td style="background-color:orange">@item.Estado</td>
                }
            </tr>
            }
        </tbody>
    </table>
    <h4>TOTAL A PAGAR: $@Model.Pago()</h4>
    <a class="nav-link" asp-route-id="@Model.Id" asp-controller="Cadete" asp-action="pagarCadete">Pagar</a>
}
else
{
    <h4>No se encontraron pedidos</h4>
    <p>Para crear un pedido <a class="nav-link" asp-controller="Pedido" asp-action="Index">click aqui</a></p>
}   