@using Cadeteria.Models.ViewModels.Cadete

@{
    ViewData["Title"] = "Modificar Cadete";
}
@model CadeteModificarViewModel

<div class="text-center">
    <h1 class="display-4">Modificar datos del Cadete @Model.Id</h1>
    <form asp-controller="Cadete" asp-action="cambiarDatosCadete" method="post" class="row g-3">
        <input type="hidden" class="form-control" asp-for="Id" value="@Model.Id">
        <div class="col-md-6">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" value="@Model.Nombre">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Direccion" class="form-label"></label>
            <input asp-for="Direccion" class="form-control" value="@Model.Direccion">
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Telefono" class="form-label"></label>
            <input asp-for="Telefono" class="form-control" value="@Model.Telefono" placeholder="3815123123">
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Modificar</button>
        </div>
    </form>
</div>
