@{
    ViewData["Title"] = "Modificar Cadete";
}
@model Cadete

<div class="text-center">
    <h1 class="display-4">Modificar datos del Cadete @Model.Id</h1>
    <form asp-controller="Cadete" asp-action="cambiarDatosCadete" method="post" class="row g-3">
        <input type="hidden" class="form-control" id="id" name="id" value="@Model.Id" required>
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="@Model.Nombre" required>
        </div>
        <div class="col-md-6">
            <label for="direc" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direc" name="direc" value="@Model.Direccion" required>
        </div>
        <div class="col-md-6">
            <label for="tel" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="tel" name="tel" value="@Model.Telefono" placeholder="+54 381-5123123" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Modificar</button>
        </div>
    </form>
</div>
