@using Cadeteria.Models.ViewModels.Cadete
@{
    ViewData["Title"] = "Listado Cadetes";
}

@model CadeteMostrarViewModel

<h1 class="display-4">Listado de Cadetes</h1>
<div class="col-12">
    <a asp-controller="Cadete" asp-action="Index" class="btn btn-primary">Crear nuevo Cadete</a>
</div>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCadetes)
        {
            <tr>
                <th scope="row" class="table-primary">@item.Id</th>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                @if (item.ListadoPedidos != null)
                {
                    <td>
                        <a class="nav-link" asp-route-id="@item.Id" asp-action="listarPedidos">Pedidos @item.ListadoPedidos.Count() </a>
                    </td>
                }
                else
                {
                    <td>Sin pedidos</td>
                }
                <td>
                    <a class="nav-link" asp-route-id="@item.Id" asp-controller="Cadete" asp-action="modificarCadete">Modificar</a>
                    <a class="nav-link" asp-route-id="@item.Id" asp-controller="Cadete" asp-action="eliminarCadete" onclick="return confirm('¿Seguro que desea eliminar al cadete @item.Nombre?')">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}